.is--uppercase,
.jumbo {
  text-transform: uppercase
}

.is--bold,
.jumbo {
  font-weight: 900
}

.jumbo {
  font-size: 70px;
  line-height: 1
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald, Roboto Condensed, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0
}

h1+p,
h2+p,
h3+p {
  margin-top: 30px
}

a {
  color: inherit;
  text-decoration: none
}

a.is--underlined {
  text-decoration: underline
}

ul.has--arrows,
ul.has--dash {
  padding-left: 1em
}

.has--arrows>li .has--dash>li {
  list-style-type: none
}

.has--arrows>li .has--dash>li:before {
  content: "> ";
  margin-left: -1em;
  padding-right: .5em;
  display: inline-block
}

.has--arrows>li .has--dash>li a {
  color: inherit;
  opacity: 1;
  transition: opacity .3s ease-out
}

.has--arrows>li .has--dash>li a:hover {
  opacity: .6
}

.has--dash>li:before {
  content: "\2013"
}

.btn {
  height: 50px;
  line-height: 50px;
  border-radius: 0;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: Oswald, Roboto Condensed, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 20px;
  text-align: center;
  background-color: #ccc
}

.btn:focus {
  outline: 2px solid #21b7fd
}

.btn--block {
  display: block;
  width: 100%
}

.btn--black {
  background-color: #000;
  color: #fff
}
